# Project exclude paths
/learn-docker-componse/target/
/learn-mv-rabbitmq/target/
/learn-mv-shiro/target/
/learn-sp-rabbitmq/target/
/learn-sp-shiro/target/
/lesrn-sp-elasticserach/target/
.idea/
learn-comm.iml
learn-docker-01/Dockerfile
learn-docker-01/learn-docker-01.iml
learn-docker-01/src/test/
learn-docker-01/target/
learn-docker-componse/.idea/.gitignore
learn-docker-componse/.idea/compiler.xml
learn-docker-componse/.idea/encodings.xml
learn-docker-componse/.idea/jarRepositories.xml
learn-docker-componse/.idea/libraries/
learn-docker-componse/.idea/misc.xml
learn-docker-componse/.idea/modules.xml
learn-docker-componse/learn-docker-componse.iml
learn-docker-componse/learn-docker.iml
learn-docker-componse/src/main/resources/static/
learn-docker-componse/src/main/resources/templates/
learn-mv-01-test/learn-mv-01-test.iml
learn-mv-01-test/src/
learn-mv-annotation/learn-mv-annotation.iml
learn-mv-annotation/src/main/resources/
learn-mv-annotation/src/test/
learn-mv-annotation/target/
learn-mv-rabbitmq/learn-mv-rabbitmq.iml
learn-mv-rabbitmq/src/main/resources/
learn-mv-rabbitmq/src/test/
learn-mv-shiro/learn-mv-shiro.iml
learn-mv-shiro/learn-sp-shiro.iml
learn-mv-shiro/src/test/
learn-sp-01-test/learn-sp-01-test.iml
learn-sp-02-annotation/learn-sp-02-annotation.iml
learn-sp-02-annotation/target/
learn-sp-03-code/learn-sp-03-code.iml
learn-sp-03-code/target/
learn-sp-04-jwt/learn-sp-04-jwt.iml
learn-sp-04-jwt/learn-sp-jwt.iml
learn-sp-04-jwt/src/main/resources/static/
learn-sp-04-jwt/src/main/resources/templates/
learn-sp-04-jwt/target/generated-sources/
learn-sp-04-jwt/target/generated-test-sources/
learn-sp-05-rabbitmq/learn-sp-05-rabbitmq.iml
learn-sp-05-rabbitmq/src/main/resources/static/
learn-sp-05-rabbitmq/src/main/resources/templates/
learn-sp-05-rabbitmq/target/
learn-sp-06-security/learn-sp-06-security.iml
learn-sp-06-security/target/
learn-sp-07-sharding/learn-sp-07-sharding.iml
learn-sp-07-sharding/target/
learn-sp-08-shiro/.idea/
learn-sp-08-shiro/learn-sp-08-shiro.iml
learn-sp-08-shiro/src/main/resources/static/
learn-sp-08-shiro/target/
learn-sp-09-shiro-k/learn-sp-09-shiro-k.iml
learn-sp-09-shiro-k/src/main/java/cn/cld/learnspshirok/service/
learn-sp-09-shiro-k/target/
learn-sp-11-easycode/learn-sp-11-easycode.iml
learn-sp-11-easycode/target/
learn-sp-12-dmdb/learn-sp-12-dmdb.iml
learn-sp-12-dmdb/target/
learn-sp-13-oracle/learn-sp-13-oracle.iml
learn-sp-13-oracle/src/main/java/cn/cld/learnsp13oracle/entity/
learn-sp-13-oracle/target/
learn-sp-14-manydatasources/learn-sp-14-manydatasources.iml
learn-sp-14-manydatasources/src/main/resources/sql/
learn-sp-14-manydatasources/target/
learn-sp-15-log-logback/learn-sp-13-oracle.iml
learn-sp-15-log-logback/learn-sp-15-log-logback.iml
learn-sp-15-log-logback/src/main/java/cn/cld/learnsp13oracle/entity/
learn-sp-15-log-logback/target/generated-sources/
learn-sp-15-log-logback/target/generated-test-sources/
learn-sp-16-log-log4j/learn-sp-13-oracle.iml
learn-sp-16-log-log4j/learn-sp-16-log-log4j.iml
learn-sp-16-log-log4j/src/main/java/cn/cld/learnsp13oracle/entity/
learn-sp-16-log-log4j/target/generated-sources/
learn-sp-16-log-log4j/target/generated-test-sources/
learn-sp-17-log-log4j2/learn-sp-13-oracle.iml
learn-sp-17-log-log4j2/learn-sp-17-log-log4j2.iml
learn-sp-17-log-log4j2/src/main/java/cn/cld/learnsp13oracle/entity/
learn-sp-17-log-log4j2/target/classes/META-INF/
learn-sp-17-log-log4j2/target/classes/cn/cld/learnsp13oracle/LearnSp17LogLog4j2.class
learn-sp-17-log-log4j2/target/classes/log4j2-spring.xml
learn-sp-17-log-log4j2/target/classes/log4j2-spring.xml2
learn-sp-17-log-log4j2/target/generated-sources/
learn-sp-17-log-log4j2/target/generated-test-sources/
lesrn-sp-10-elasticserach/lesrn-sp-10-elasticserach.iml
lesrn-sp-10-elasticserach/target/
